:root,
[data-bs-theme="light"] {
  --bs-primary: #40A2D8;
  --bs-secondary: #f5f5f5;
  --bs-linear: #f0f0f0;
  --bs-border: #ebf1f6;
  --bs-body-bg: #fff;
  --bs-success-text: #0fb294;
  --bs-info-text: #325d99;
  --bs-warning-text: #996813;
  --bs-danger-text: #c86e56;
  --text-color: #000;
  --src-logo: url("../img/logos/HireUp_lightMode.png");
}

[data-bs-theme="dark"] {
  --bs-primary: #40A2D8;
  --bs-secondary: #000000;
  --bs-linear: #0f0f0f;
  --bs-border: #1e1e1e;
  --bs-body-bg: #212529;
  --bs-success-text: #0fb294;
  --bs-info-text: #325d99;
  --bs-warning-text: #996813;
  --bs-danger-text: #c86e56;
  --text-color: #f5f5f5;
  --src-logo: url("../img/logos/HireUp_darkMode.png");
}

body {
  padding-top: 20px;
  background: var(--bs-body-bg);
  color: var(--text-color);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.logo-img {
  width: 115px;
  height: 52px;
  margin: 0 auto;
  /* Center the image horizontally */
  display: block;
  /* Ensure the link occupies full width */
  padding-top: 2%;
  content: var(--src-logo);
}

.card {
  margin-bottom: 30px;
}

.overflow-hidden {
  overflow: hidden !important;
}

.p-0 {
  padding: 0 !important;
}

.mt-n5 {
  margin-top: -3rem !important;
}

.linear-gradient {
  background-image: linear-gradient(var(--bs-secondary), var(--bs-linear));
}

.rounded-circle {
  border-radius: 50% !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.d-flex {
  display: flex !important;
}

.rounded-2 {
  border-radius: 7px !important;
}

.bg-light-info {
  --bs-bg-opacity: 1;
  background-color: rgba(235, 243, 254, 1) !important;
}

.card {
  margin-bottom: 30px;
}

.position-relative {
  position: relative !important;
}

.shadow-none {
  box-shadow: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.border {
  border: 1px solid var(--bs-border) !important;
}

.fs-6 {
  font-size: 1.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.d-block {
  display: block !important;
}

a {
  text-decoration: none;
}

.user-profile-tab .nav-item .nav-link.active {
  color: var(--bs-primary);
  border-bottom: 2px solid var(--bs-primary);
}

.mb-9 {
  margin-bottom: 20px !important;
}

.fw-semibold {
  font-weight: 600 !important;
}
.fs-4 {
  font-size: 1rem !important;
}

.card,
.bg-light {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.fs-2 {
  font-size: 0.75rem !important;
}

.rounded-4 {
  border-radius: 4px !important;
}

.ms-7 {
  margin-left: 30px !important;
}

@media (max-width: 576px) {
  .btn {
    /* Adjust styles for extra small devices (phones) */
    padding: 5px 10px;
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .btn {
    /* Adjust styles for small devices (tablets) */
    padding: 8px 16px;
    font-size: 16px;
  }
}

/*############################################################"*/


