<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HireUp</title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../assets/css/animations.css" />
    <link rel="stylesheet" href="../assets/css/font-awesome.css" />
    <link rel="stylesheet" href="../assets/css/main.css" class="color-switcher-link" />
    <script src="../assets/js/vendor/modernizr-2.6.2.min.js"></script>

    <link href="../assets/images/HireUp_icon.ico" rel="icon">

  </head>

  <body>
    <div class="preloader">
      <div class="preloader_image"></div>
    </div>

    <!-- search modal -->
    <div
      class="modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="search_modal"
      id="search_modal"
    >
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="widget widget_search">
        <form
          method="get"
          class="searchform search-form"
          action="http://webdesign-finder.com/"
        >
          <div class="form-group">
            <input
              type="text"
              value=""
              name="search"
              class="form-control"
              placeholder="Search keyword"
              id="modal-search-input"
            />
          </div>
          <button type="submit" class="btn">Search</button>
        </form>
      </div>
    </div>

    <!-- wrappers for visual page editor and boxed version of template -->
    <div id="canvas">
      <div id="box_wrapper">
        <!-- template sections -->

        <!--topline section visible only on small screens|-->

        <section class="page_toplogo ls s-py-15 text-center">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-lg-4">
                <div
                  class="d-lg-flex justify-content-lg-end align-items-lg-center"
                >
                  <span class="social-icons top">
                    <a
                      href="https://www.facebook.com/profile.php?id=61557532202485"
                      class="fa fa-facebook"
                      title="facebook"
                    ></a>
                    <a
                      href="https://www.instagram.com/hire.up.tn/"
                      class="fa fa-instagram"
                      title="instagram"
                    ></a>
                    <a href="#" class="fa fa-google" title="google"></a>
                    <a href="#" class="fa fa-linkedin" title="linkedin"></a>
                    <a href="#" class="fa fa-pinterest-p" title="linkedin"></a>
                  </span>
                </div>
              </div>
              <div class="col-lg-4 text-center">
                <div class="text-center">
                  <div class="header_logo_center">
                    <a href="../index.html" class="logo">
                      <span class="logo_text">Hire</span>
                      <img src="../assets/images/HireUp_logo.png" alt="" />
                      <span class="logo_subtext">Up</span>
                    </a>
                  </div>
                  <!-- eof .header_left_logo -->
                </div>
              </div>
              <div class="col-lg-4">
                <button class="btn-outline-darkgrey d-none d-lg-block">
                  Looking for Staff?
                </button>
              </div>
            </div>
          </div>
        </section>

        <!-- header with single Bootstrap column only for navigation and includes. Used with topline and toplogo sections. Menu toggler must be in toplogo section -->
        <header
          class="page_header ls s-bordertop nav-narrow justify-nav-center text-center"
        >
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-xl-12">
                <div class="nav-wrap">
                  <!-- main nav start -->
                  <nav class="top-nav">
                    <ul class="nav sf-menu">
                      <li class="active">
                        <a href="../index.html">Homepage</a>
                        <ul>
                          <li>
                            <a href="../index.html">Homepage</a>
                          </li>
                          <li>
                            <a href="#">Static Page</a>
                          </li>
                          <li>
                            <a href="#">Single Page</a>
                          </li>
                        </ul>
                      </li>

                      <li>
                        <a href="about.html">Pages</a>
                        <ul>
                          <li>
                            <a href="faq.html">FAQ</a>
                          </li>
                          <li>
                            <a href="team.html">Team</a>
                            <ul>
                              <li>
                                <a href="team-single.html">Team Member</a>
                              </li>
                            </ul>
                          </li>

                          <li>
                            <a href="#">Shop</a>
                            <ul>
                              <li>
                                <a href="#">Shop</a>
                              </li>
                              <li>
                                <a href="#">Single Product</a>
                              </li>
                              <li>
                                <a href="#">Shop Cart</a>
                              </li>
                              <li>
                                <a href="#">Shop Checkout</a>
                              </li>
                              <li>
                                <a href="#">Order Received</a>
                              </li>
                            </ul>
                          </li>

                          <li>
                            <a href="services2.html">Services</a>
                            <ul>
                              <li>
                                <a href="#">Services 1</a>
                              </li>
                              <li>
                                <a href="services2.html">Services 2</a>
                              </li>
                              <li>
                                <a href="#">Services 3</a>
                              </li>
                              <li>
                                <a href="service-single.html">Single Service</a>
                              </li>
                            </ul>
                          </li>

                          <!-- shop -->

                          <!-- features -->
                          <li>
                            <a href="#">Shortcodes</a>
                            <ul>
                              <li>
                                <a href="#">Typography</a>
                              </li>
                              <li>
                                <a href="#">Buttons</a>
                              </li>
                              <li>
                                <a href="#">Icon Boxes</a>
                              </li>
                              <li>
                                <a href="#">Progress</a>
                              </li>
                              <li>
                                <a href="#">Tabs &amp; Collapse</a>
                              </li>
                              <li>
                                <a href="#">Bootstrap Elements</a>
                              </li>
                              <li>
                                <a href="#">Animation</a>
                              </li>
                              <li>
                                <a href="#">Template Icons</a>
                              </li>
                              <li>
                                <a href="#">Social Icons</a>
                              </li>
                            </ul>
                          </li>
                          <!-- eof shortcodes -->

                          <!-- events -->
                          <li>
                            <a href="events-left.html">Events</a>
                            <ul>
                              <li>
                                <a href="events-left.html">Left Sidebar</a>
                              </li>
                              <li>
                                <a href="#">Right Sidebar</a>
                              </li>
                              <li>
                                <a href="#">Full Width</a>
                              </li>
                              <li>
                                <a href="event-single-left.html"
                                  >Single Event</a
                                >
                                <ul>
                                  <li>
                                    <a href="event-single-left.html"
                                      >Left Sidebar</a
                                    >
                                  </li>
                                  <li>
                                    <a href="#">Right Sidebar</a>
                                  </li>
                                  <li>
                                    <a href="#">Full Width</a>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                          <!-- eof events -->

                          <li>
                            <a href="comingsoon.html">Comingsoon</a>
                          </li>

                          <li>
                            <a href="404.html">404</a>
                          </li>
                        </ul>
                      </li>
                      <!-- eof pages -->

                      <li>
                        <a href="about.html">About</a>
                      </li>

                      <li>
                        <a href="emloyers.html">Emloyers</a>
                      </li>

                      <li>
                        <a href="candidates.html">Candidates</a>
                      </li>

                      <!-- blog -->
                      <li>
                        <a href="blog-left.html">Blog</a>
                        <ul>
                          <li>
                            <a href="#">Right Sidebar</a>
                          </li>
                          <li>
                            <a href="blog-left.html">Left Sidebar</a>
                          </li>
                          <li>
                            <a href="#">No Sidebar</a>
                          </li>
                          <li>
                            <a href="#">Post</a>
                            <ul>
                              <li>
                                <a href="#">Right Sidebar</a>
                              </li>
                              <li>
                                <a href="blog-single-left.html">Left Sidebar</a>
                              </li>
                              <li>
                                <a href="#">No Sidebar</a>
                              </li>
                            </ul>
                          </li>

                          <li>
                            <a href="#">Video Post</a>
                            <ul>
                              <li>
                                <a href="#">Right Sidebar</a>
                              </li>
                              <li>
                                <a href="blog-single-video-left.html"
                                  >Left Sidebar</a
                                >
                              </li>
                              <li>
                                <a href="#">No Sidebar</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <!-- eof blog -->

                      <li>
                        <a href="#">Features</a>
                        <div class="mega-menu">
                          <ul class="mega-menu-row">
                            <li class="mega-menu-col">
                              <a href="#">Headers</a>
                              <ul>
                                <li>
                                  <a href="header1.html">Header Type 1</a>
                                </li>
                                <li>
                                  <a href="#">Header Type 2</a>
                                </li>
                                <li>
                                  <a href="#">Header Type 3</a>
                                </li>
                                <li>
                                  <a href="#">Header Type 4</a>
                                </li>
                                <li>
                                  <a href="#">Header Type 5</a>
                                </li>
                                <li>
                                  <a href="#">Header Type 6</a>
                                </li>
                              </ul>
                            </li>
                            <li class="mega-menu-col">
                              <a href="#">Side Menus</a>
                              <ul>
                                <li>
                                  <a href="#">Push Left</a>
                                </li>
                                <li>
                                  <a href="#">Push Right</a>
                                </li>
                                <li>
                                  <a href="#">Slide Left</a>
                                </li>
                                <li>
                                  <a href="#">Slide Right</a>
                                </li>
                                <li>
                                  <a href="#">Sticked Left</a>
                                </li>
                                <li>
                                  <a href="#">Sticked Right</a>
                                </li>
                              </ul>
                            </li>
                            <li class="mega-menu-col">
                              <a href="title1.html">Title Sections</a>
                              <ul>
                                <li>
                                  <a href="title1.html">Title section 1</a>
                                </li>
                                <li>
                                  <a href="#">Title section 2</a>
                                </li>
                                <li>
                                  <a href="#">Title section 3</a>
                                </li>
                                <li>
                                  <a href="#">Title section 4</a>
                                </li>
                                <li>
                                  <a href="#">Title section 5</a>
                                </li>
                                <li>
                                  <a href="#">Title section 6</a>
                                </li>
                              </ul>
                            </li>
                            <li class="mega-menu-col">
                              <a href="footer1.html">Footers</a>
                              <ul>
                                <li>
                                  <a href="footer1.html">Footer Type 1</a>
                                </li>
                                <li>
                                  <a href="#">Footer Type 2</a>
                                </li>
                                <li>
                                  <a href="#">Footer Type 3</a>
                                </li>
                                <li>
                                  <a href="#">Footer Type 4</a>
                                </li>
                                <li>
                                  <a href="#">Footer Type 5</a>
                                </li>
                                <li>
                                  <a href="#">Footer Type 6</a>
                                </li>
                              </ul>
                            </li>
                            <li class="mega-menu-col">
                              <a href="copyright4.html">Copyright</a>

                              <ul>
                                <li>
                                  <a href="#">Copyright 1</a>
                                </li>
                                <li>
                                  <a href="#">Copyright 2</a>
                                </li>
                                <li>
                                  <a href="#">Copyright 3</a>
                                </li>
                                <li>
                                  <a href="copyright4.html">Copyright 4</a>
                                </li>
                                <li>
                                  <a href="#">Copyright 5</a>
                                </li>
                                <li>
                                  <a href="#">Copyright 6</a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <!-- eof features -->

                      <!-- gallery -->
                      <li>
                        <a href="#">Gallery</a>
                        <ul>
                          <li>
                            <a href="#">Gallery Regular</a>
                            <ul>
                              <li>
                                <a href="#">2 columns</a>
                              </li>
                              <li>
                                <a href="gallery-regular-3-cols.html"
                                  >3 columns</a
                                >
                              </li>
                              <li>
                                <a href="#">4 columns fullwidth</a>
                              </li>
                            </ul>
                          </li>

                          <li>
                            <a href="#">Gallery Extended</a>
                            <ul>
                              <li>
                                <a href="#">2 columns</a>
                              </li>
                              <li>
                                <a href="gallery-excerpt-3-cols.html"
                                  >3 column</a
                                >
                              </li>
                              <li>
                                <a href="#">4 columns fullwdith</a>
                              </li>
                            </ul>
                          </li>

                          <li>
                            <a href="#">Tiled Gallery</a>
                          </li>

                          <li>
                            <a href="#">Gallery Item</a>
                          </li>
                        </ul>
                      </li>
                      <!-- eof Gallery -->

                      <!-- contacts -->
                      <li>
                        <a href="contact2.html">Contacts</a>
                        <ul>
                          <li>
                            <a href="contact2.html">Contact 1</a>
                          </li>
                          <li>
                            <a href="#">Contact 2</a>
                          </li>
                          <li>
                            <a href="#">Contact 3</a>
                          </li>
                          <li>
                            <a href="#">Contact 4</a>
                          </li>
                        </ul>
                      </li>
                      <!-- eof contacts -->
                    </ul>
                  </nav>
                  <!-- eof main nav -->
                </div>
              </div>
            </div>
          </div>

          <!-- header toggler -->

          <span class="toggle_menu">
            <span></span>
          </span>
        </header>

        <section class="page_title cs gradientvertical-background s-py-25">
          <div class="container">
            <div class="row">
              <div class="divider-50"></div>

              <div class="col-md-12 text-center">
                <h1 class="">About</h1>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="../index.html">Home</a>
                  </li>

                  <li class="breadcrumb-item active">About</li>
                </ol>
              </div>

              <div class="divider-50"></div>
            </div>
          </div>
        </section>

        <section class="ls about about-padge s-pt-30">
          <div class="container">
            <div class="row">
              <div
                class="col-md-12 col-lg-6 animate"
                data-animation="slideInLeft"
              >
                <div class="heading-about">
                  <h2>HU</h2>
                  <h4>Welcome to</h4>
                  <h3>HireUp!</h3>
                  <p>
                    We believe in the value that our functions add to a
                    business. We feel that this specialist part of HR is often
                    unrecognised for its contribution to the profitability and
                    success of a business.
                  </p>
                </div>
                <div class="icons-list">
                  <ul class="list-bordered">
                    <li class="media media-body">
                      <i class="teaser-icon fa fa-rocket"></i>
                      <h4 class="title">
                        <span>638</span> Companies We Helped
                      </h4>
                    </li>
                    <li class="media media-body">
                      <i class="teaser-icon fa fa-briefcase"></i>
                      <h4 class="title"><span>12</span> Corporate Programs</h4>
                    </li>
                    <li class="media media-body">
                      <i class="teaser-icon fa fa-graduation-cap"></i>
                      <h4 class="title"><span>28</span> Trainings Courses</h4>
                    </li>
                    <li class="border-bottom-0 media media-body">
                      <i class="teaser-icon fa fa-user"></i>
                      <h4 class="title"><span>125</span> Strategic Partners</h4>
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="col-md-12 col-lg-6 animate"
                data-animation="slideInRight"
              >
                <img src="../assets/images/person01.jpg" alt="person01.jpg" />
              </div>
            </div>
          </div>
        </section>

        <section
          class="icon-boxed teaser-box ls s-py-lg-130 c-my-lg-10 s-parallax"
        >
          <div class="container">
            <div class="row">
              <div class="col-lg-4 animate" data-animation="pullUp">
                <div class="icon-box text-center hero-bg box-shadow">
                  <div class="teaser-icon icon-styled bg-maincolor3">
                    <i class="fa fa-unlock-alt"></i>
                  </div>
                  <h3>
                    <a href="#">Highly Secure</a>
                  </h3>
                  <p>
                    Cloud-based services can offer our customers single tenant
                    dedicated environments
                  </p>
                </div>
              </div>
              <div class="col-lg-4 animate" data-animation="pullUp">
                <div class="icon-box text-center hero-bg box-shadow">
                  <div class="teaser-icon icon-styled bg-maincolor3">
                    <i class="fa fa-cloud"></i>
                  </div>
                  <h3>
                    <a href="#">True Cloud Scal</a>
                  </h3>
                  <p>
                    Working with customers making 100-40,000 hires per annum
                  </p>
                </div>
              </div>
              <div class="col-lg-4 animate" data-animation="pullUp">
                <div class="icon-box text-center hero-bg box-shadow">
                  <div class="teaser-icon icon-styled bg-maincolor3">
                    <i class="fa fa-database"></i>
                  </div>
                  <h3>
                    <a href="#">Accurate Data</a>
                  </h3>
                  <p>
                    All of our customers' data is validated. We build accurate
                    data banks for reporting
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="ls collapse-section about">
          <div class="row">
            <div class="col-lg-6">
              <div class="image_cover image_cover_left half-image"></div>
            </div>
            <div class="col-lg-6 collapse-table">
              <div class="contact-header collapse-header heading pt-30">
                <h5>Receiving</h5>
                <h4>A job offer</h4>
              </div>
              <div id="accordion01" role="tablist">
                <div class="card-header" role="tab" id="collapse01_header">
                  <h5>
                    <a
                      data-toggle="collapse"
                      href="#collapse01"
                      aria-expanded="true"
                      aria-controls="collapse01"
                    >
                      Be decisive
                    </a>
                  </h5>
                </div>
                <div
                  id="collapse01"
                  class="collapse show"
                  role="tabpanel"
                  aria-labelledby="collapse01_header"
                  data-parent="#accordion01"
                >
                  <div class="card-body">
                    Confirming your acceptance guarantees the job is yours.
                    Usually there are other candidates in the process at this
                    point so ensure you are committed.
                  </div>
                </div>
                <div class="card-header" role="tab" id="collapse02_header">
                  <h5>
                    <a
                      class="collapsed"
                      data-toggle="collapse"
                      href="#collapse02"
                      aria-expanded="false"
                      aria-controls="collapse02"
                    >
                      Or take your time
                    </a>
                  </h5>
                </div>
                <div
                  id="collapse02"
                  class="collapse"
                  role="tabpanel"
                  aria-labelledby="collapse02_header"
                  data-parent="#accordion01"
                >
                  <div class="card-body">
                    Confirming your acceptance guarantees the job is yours.
                    Usually there are other candidates in the process at this
                    point so ensure you are committed.
                  </div>
                </div>
                <div class="card-header" role="tab" id="collapse03_header">
                  <h5>
                    <a
                      class="collapsed"
                      data-toggle="collapse"
                      href="#collapse03"
                      aria-expanded="false"
                      aria-controls="collapse03"
                    >
                      Resign
                    </a>
                  </h5>
                </div>
                <div
                  id="collapse03"
                  class="collapse"
                  role="tabpanel"
                  aria-labelledby="collapse03_header"
                  data-parent="#accordion01"
                >
                  <div class="card-body">
                    Confirming your acceptance guarantees the job is yours.
                    Usually there are other candidates in the process at this
                    point so ensure you are committed.
                  </div>
                </div>

                <div class="card-header" role="tab" id="collapse04_header">
                  <h5>
                    <a
                      class="collapsed"
                      data-toggle="collapse"
                      href="#collapse04"
                      aria-expanded="false"
                      aria-controls="collapse04"
                    >
                      Counter offers
                    </a>
                  </h5>
                </div>
                <div
                  id="collapse04"
                  class="collapse"
                  role="tabpanel"
                  aria-labelledby="collapse04_header"
                  data-parent="#accordion01"
                >
                  <div class="card-body">
                    Confirming your acceptance guarantees the job is yours.
                    Usually there are other candidates in the process at this
                    point so ensure you are committed.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <footer
          class="page_footer ds s-py-sm-20 s-pt-md-75 s-pb-md-50 s-py-lg-130 c-gutter-60 pb-20 half-section"
        >
          <div class="container">
            <div class="row">
              <div
                class="footer col-md-4 text-center animate"
                data-animation="fadeInUp"
              >
                <div class="footer widget text-center">
                  <h3 class="widget-title title-menu">Explore</h3>
                  <ul class="footer-menu">
                    <li>
                      <a href="#">Job Search</a>
                    </li>
                    <li class="menu1">
                      <a>Consultants</a>
                    </li>
                    <li>
                      <a href="#">Reviews</a>
                    </li>
                    <li class="menu1">
                      <a>Insights</a>
                    </li>
                    <li>
                      <a href="#">Survey</a>
                    </li>
                    <li class="menu1">
                      <a>Careers</a>
                    </li>
                    <li class="border-bottom-0">
                      <a href="#">Contact</a>
                    </li>
                    <li class="menu1 border-bottom-0">
                      <a>About</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div
                class="footer col-md-4 text-center animate"
                data-animation="fadeInUp"
              >
              <div class="text-center">
                <div class="header_logo_center footer-logo-ds">
                  <a href="../index.html" class="logo">
                    <span class="logo_text">Hire</span>
                    <img src="../assets/images/light_logo.png" alt="" />
                    <span class="logo_subtext">Up</span>
                  </a>
                </div>
                <!-- eof .header_left_logo -->
              </div>
                <div class="widget pt-20">
                  Duis autem vel eum iriure dolor in hendrerit in vulputate
                  velit esse molestie consequat, vel illum dolore eu feugiat
                  nulla.
                </div>
                <div class="widget">
                  <div class="media">
                    <i class="mx-10 color-main fa fa-map-marker"></i>
                    4518 Spirit Drive, Deland, FL 32720
                  </div>

                  <div class="media">
                    <i class="mx-10 color-main fa fa-phone"></i>
                    101 123 456 789
                  </div>

                  <div class="media text-center link">
                    <i class="mx-10 text-center color-main fa fa-envelope"></i>
                    <a href="#">example@example.com</a>
                  </div>
                </div>

                <div class="author-social">
                  <a
				  title="#"
				  href="https://www.facebook.com/profile.php?id=61557532202485"
                    class="fa fa-facebook color-bg-icon rounded-icon"
                  ></a>
                  <a
				  title="#"
				  href="https://www.instagram.com/hire.up.tn/"
                    class="fa fa-instagram color-bg-icon rounded-icon"
                  ></a>
                  <a
				  title="#"
                    href="#"
                    class="fa fa-google color-bg-icon rounded-icon"
                  ></a>
                </div>
              </div>
              <div
                class="footer col-md-4 text-center animate"
                data-animation="fadeInUp"
              >
                <div class="widget widget_mailchimp">
                  <h3 class="widget-title">Newsletter</h3>

                  <p>
                    Enter your email address here always to be updated. We
                    promise not to spam!
                  </p>

                  <form class="signup">
                    <label for="mailchimp_email">
                      <span class="screen-reader-text">Subscribe:</span>
                    </label>

                    <input
                      id="mailchimp_email"
                      name="email"
                      type="email"
                      class="form-control mailchimp_email"
                      placeholder="Email Address"
                    />

                    <button type="submit" class="search-submit">
                      Subscribe
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <!-- eof #box_wrapper -->
    </div>
    <!-- eof #canvas -->

    <script src="../assets/js/compressed.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
