<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->


<head>
	<title>Invenir - HR Recruiting Agency HTML Template</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" href="../../../front office assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../../front office assets/css/animations.css">
	<link rel="stylesheet" href="../../../front office assets/css/font-awesome.css">
	<link rel="stylesheet" href="../../../front office assets/css/main.css" class="color-switcher-link">
	<script src="../../../front office assets/js/vendor/modernizr-2.6.2.min.js"></script>

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->

</head>

<body>
	<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="color-main">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->

	<div class="preloader">
		<div class="preloader_image"></div>
	</div>

	<!-- search modal -->
	<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<div class="widget widget_search">
			<form method="get" class="searchform search-form" action="http://webdesign-finder.com/">
				<div class="form-group">
					<input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
				</div>
				<button type="submit" class="btn">Search</button>
			</form>
		</div>
	</div>

	<!-- Unyson messages modal -->
	<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
		<div class="fw-messages-wrap ls p-normal">
			<!-- Uncomment this UL with LI to show messages in modal popup to your user: -->
			<!--
		<ul class="list-unstyled">
			<li>Message To User</li>
		</ul>
		-->

		</div>
	</div>
	<!-- eof .modal -->

	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">

			<!-- template sections -->


			<!--topline section visible only on small screens|-->


			<section class="page_toplogo ls s-py-25">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-4 text-center">

							<div class="d-lg-flex justify-content-lg-end align-items-lg-center">

								<span class="social-icons top">

									<a href="#" class="fa fa-facebook " title="facebook"></a>
									<a href="#" class="fa fa-twitter " title="twitter"></a>
									<a href="#" class="fa fa-google " title="google"></a>
									<a href="#" class="fa fa-linkedin " title="linkedin"></a>
									<a href="#" class="fa fa-pinterest-p " title="linkedin"></a>
								</span>

							</div>

						</div>

						<div class="col-lg-4 text-center">
							<div class="text-center">
								<div class="header_logo_center">
									<a href="index.html" class="logo">
										<span class="logo_text">Invenir</span>
										<img src="images/logo.png" alt="">
										<span class="logo_subtext">consult</span>
									</a>
								</div>
								<!-- eof .header_left_logo -->
							</div>
						</div>

						<div class="col-lg-4 ">
							<button class="btn-outline-darkgrey d-none d-lg-block">Looking for Staff?</button>
						</div>

					</div>
				</div>
			</section>


			<!-- header with single Bootstrap column only for navigation and includes. Used with topline and toplogo sections. Menu toggler must be in toplogo section -->
			<header class="page_header ls s-bordertop nav-narrow justify-nav-center">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-xl-12">

							<div class="nav-wrap">
								<!-- main nav start -->
								<nav class="top-nav">
									<ul class="nav sf-menu">


										<li class="active">
											<a href="index-2.html">Homepage</a>
											<ul>
												<li>
													<a href="index-2.html">Homepage</a>
												</li>
												<li>
													<a href="index_static.html">Static Page</a>

												</li>
												<li>
													<a href="index_singlepage.html">Single Page</a>
												</li>
											</ul>
										</li>


										<li>
											<a href="about.html">Pages</a>
											<ul>
												<li>
													<a href="faq.html">FAQ</a>
												</li>
												<li>
													<a href="team.html">Team</a>
													<ul>
														<li>
															<a href="team-single.html">Team Member</a>
														</li>
													</ul>
												</li>

												<li>
													<a href="shop.html">Shop</a>
													<ul>
														<li>
															<a href="shop.html">Shop</a>
														</li>
														<li>
															<a href="shop-product.html">Single Product</a>
														</li>
														<li>
															<a href="shop-cart.html">Shop Cart</a>
														</li>
														<li>
															<a href="shop-checkout.html">Shop Checkout</a>
														</li>
														<li>
															<a href="shop-order-received.html">Order Received</a>
														</li>

													</ul>
												</li>

												<li>
													<a href="services.html">Services</a>
													<ul>
														<li>
															<a href="services.html">Services 1</a>
														</li>
														<li>
															<a href="services2.html">Services 2</a>
														</li>
														<li>
															<a href="services3.html">Services 3</a>
														</li>
														<li>
															<a href="service-single.html">Single Service</a>
														</li>
													</ul>
												</li>

												<!-- shop -->

												<!-- features -->
												<li>
													<a href="shortcodes_iconbox.html">Shortcodes</a>
													<ul>
														<li>
															<a href="shortcodes_typography.html">Typography</a>
														</li>
														<li>
															<a href="shortcodes_buttons.html">Buttons</a>
														</li>
														<li>
															<a href="shortcodes_iconbox.html">Icon Boxes</a>
														</li>
														<li>
															<a href="shortcodes_progress.html">Progress</a>
														</li>
														<li>
															<a href="shortcodes_tabs.html">Tabs &amp; Collapse</a>
														</li>
														<li>
															<a href="shortcodes_bootstrap.html">Bootstrap Elements</a>
														</li>
														<li>
															<a href="shortcodes_animation.html">Animation</a>
														</li>
														<li>
															<a href="shortcodes_icons.html">Template Icons</a>
														</li>
														<li>
															<a href="shortcodes_socialicons.html">Social Icons</a>
														</li>
													</ul>
												</li>
												<!-- eof shortcodes -->

												<!-- events -->
												<li>
													<a href="events-left.html">Events</a>
													<ul>
														<li>
															<a href="events-left.html">Left Sidebar</a>
														</li>
														<li>
															<a href="events-right.html">Right Sidebar</a>
														</li>
														<li>
															<a href="events-full.html">Full Width</a>
														</li>
														<li>
															<a href="event-single-left.html">Single Event</a>
															<ul>
																<li>
																	<a href="event-single-left.html">Left Sidebar</a>
																</li>
																<li>
																	<a href="event-single-right.html">Right Sidebar</a>
																</li>
																<li>
																	<a href="event-single-full.html">Full Width</a>
																</li>
															</ul>
														</li>
													</ul>
												</li>
												<!-- eof events -->

												<li>
													<a href="comingsoon.html">Comingsoon</a>
												</li>

												<li>
													<a href="404.html">404</a>
												</li>

											</ul>
										</li>
										<!-- eof pages -->

										<li>
											<a href="about.html">About</a>
										</li>

										<li>
											<a href="emloyers.html">Emloyers</a>

										</li>

										<li>
											<a href="candidates.html">Candidates</a>

										</li>

										<!-- blog -->
										<li>
											<a href="blog-left.html">Blog</a>
											<ul>

												<li>
													<a href="blog-right.html">Right Sidebar</a>
												</li>
												<li>
													<a href="blog-left.html">Left Sidebar</a>
												</li>
												<li>
													<a href="blog-full.html">No Sidebar</a>
												</li>
												<li>
													<a href="blog-single-right.html">Post</a>
													<ul>
														<li>
															<a href="blog-single-right.html">Right Sidebar</a>
														</li>
														<li>
															<a href="blog-single-left.html">Left Sidebar</a>
														</li>
														<li>
															<a href="blog-single-full.html">No Sidebar</a>
														</li>
													</ul>
												</li>

												<li>
													<a href="blog-single-video-right.html">Video Post</a>
													<ul>
														<li>
															<a href="blog-single-video-right.html">Right Sidebar</a>
														</li>
														<li>
															<a href="blog-single-video-left.html">Left Sidebar</a>
														</li>
														<li>
															<a href="blog-single-video-full.html">No Sidebar</a>
														</li>
													</ul>
												</li>

											</ul>
										</li>
										<!-- eof blog -->

										<li>
											<a href="#">Features</a>
											<div class="mega-menu">
												<ul class="mega-menu-row">
													<li class="mega-menu-col">
														<a href="#">Headers</a>
														<ul>
															<li>
																<a href="header1.html">Header Type 1</a>
															</li>
															<li>
																<a href="header2.html">Header Type 2</a>
															</li>
															<li>
																<a href="header3.html">Header Type 3</a>
															</li>
															<li>
																<a href="header4.html">Header Type 4</a>
															</li>
															<li>
																<a href="header5.html">Header Type 5</a>
															</li>
															<li>
																<a href="header6.html">Header Type 6</a>
															</li>
														</ul>
													</li>
													<li class="mega-menu-col">
														<a href="#">Side Menus</a>
														<ul>
															<li>
																<a href="header-side.html">Push Left</a>
															</li>
															<li>
																<a href="header-side-right.html">Push Right</a>
															</li>
															<li>
																<a href="header-side-slide.html">Slide Left</a>
															</li>
															<li>
																<a href="header-side-slide-right.html">Slide Right</a>
															</li>
															<li>
																<a href="header-side-sticked.html">Sticked Left</a>
															</li>
															<li>
																<a href="header-side-sticked-right.html">Sticked Right</a>
															</li>
														</ul>
													</li>
													<li class="mega-menu-col">
														<a href="title1.html">Title Sections</a>
														<ul>
															<li>
																<a href="title1.html">Title section 1</a>
															</li>
															<li>
																<a href="title2.html">Title section 2</a>
															</li>
															<li>
																<a href="title3.html">Title section 3</a>
															</li>
															<li>
																<a href="title4.html">Title section 4</a>
															</li>
															<li>
																<a href="title5.html">Title section 5</a>
															</li>
															<li>
																<a href="title6.html">Title section 6</a>
															</li>
														</ul>
													</li>
													<li class="mega-menu-col">
														<a href="footer1.html#footer">Footers</a>
														<ul>
															<li>
																<a href="footer1.html#footer">Footer Type 1</a>
															</li>
															<li>
																<a href="footer2.html#footer">Footer Type 2</a>
															</li>
															<li>
																<a href="footer3.html#footer">Footer Type 3</a>
															</li>
															<li>
																<a href="footer4.html#footer">Footer Type 4</a>
															</li>
															<li>
																<a href="footer5.html#footer">Footer Type 5</a>
															</li>
															<li>
																<a href="footer6.html#footer">Footer Type 6</a>
															</li>
														</ul>
													</li>
													<li class="mega-menu-col">
														<a href="copyright1.html#copyright">Copyright</a>

														<ul>
															<li>
																<a href="copyright1.html#copyright">Copyright 1</a>
															</li>
															<li>
																<a href="copyright2.html#copyright">Copyright 2</a>
															</li>
															<li>
																<a href="copyright3.html#copyright">Copyright 3</a>
															</li>
															<li>
																<a href="copyright4.html#copyright">Copyright 4</a>
															</li>
															<li>
																<a href="copyright5.html#copyright">Copyright 5</a>
															</li>
															<li>
																<a href="copyright6.html#copyright">Copyright 6</a>
															</li>
														</ul>
													</li>

												</ul>
											</div>
										</li>
										<!-- eof features -->


										<!-- gallery -->
										<li>
											<a href="gallery-regular.html">Gallery</a>
											<ul>

												<li>
													<a href="gallery-regular.html">Gallery Regular</a>
													<ul>
														<li>
															<a href="gallery-regular-2-cols.html">2 columns</a>
														</li>
														<li>
															<a href="gallery-regular-3-cols.html">3 columns</a>
														</li>
														<li>
															<a href="gallery-regular-4-cols-fullwidth.html">4 columns fullwidth</a>
														</li>

													</ul>
												</li>


												<li>
													<a href="gallery-excerpt.html">Gallery Extended</a>
													<ul>
														<li>
															<a href="gallery-excerpt-2-cols.html">2 columns</a>
														</li>
														<li>
															<a href="gallery-excerpt-3-cols.html">3 column</a>
														</li>
														<li>
															<a href="gallery-excerpt-4-cols-fullwidth.html">4 columns fullwdith</a>
														</li>
													</ul>
												</li>


												<li>
													<a href="gallery-tiled.html">Tiled Gallery</a>
												</li>


												<li>
													<a href="gallery-single.html">Gallery Item</a>
												</li>

											</ul>
										</li>
										<!-- eof Gallery -->


										<!-- contacts -->
										<li>
											<a href="contact.html">Contacts</a>
											<ul>
												<li>
													<a href="contact.html">Contact 1</a>
												</li>
												<li>
													<a href="contact2.html">Contact 2</a>
												</li>
												<li>
													<a href="contact3.html">Contact 3</a>
												</li>
												<li>
													<a href="contact4.html">Contact 4</a>
												</li>
											</ul>
										</li>
										<!-- eof contacts -->


									</ul>


								</nav>
								<!-- eof main nav -->


							</div>

						</div>
					</div>
				</div>

				<!-- header toggler -->

				<span class="toggle_menu">
					<span></span>
				</span>

			</header>

			<section class="page_title cs gradientvertical-background s-py-25">
				<div class="container">
					<div class="row">

						<div class="divider-50"></div>

						<div class="col-md-12 text-center">
							<h1 class="">Contact Us</h1>
							<ol class="breadcrumb">
								<li class="breadcrumb-item">
									<a href="index.html">Home</a>
								</li>

								<li class="breadcrumb-item active">
									Contact Us
								</li>
							</ol>
						</div>

						<div class="divider-50"></div>

					</div>
				</div>
			</section>


			<section class="lss-overlay s-map-light s-py-130 c-gutter-60 container-px-30">
				<div class="container ">
					<div class="row">

						<div class="divider-30 d-none d-xl-block"></div>

						<div class="col-lg-8 offset-lg-2 animate" data-animation="slideDown">

							<form class="black-bg contact-form c-mb-20 c-gutter-20" method="post" action="http://webdesign-finder.com/">

								<div class="row">

									<div class="col-sm-6">
										<div class="ds form-group has-placeholder">
											<label for="name">Full Name
												<span class="required">*</span>
											</label>
											<input type="text" aria-required="true" size="30" value="" name="name" id="name" class="form-control" placeholder="Name">
										</div>
									</div>

									<div class="col-sm-6">
										<div class="ds form-group has-placeholder">
											<label for="email">Email address
												<span class="required">*</span>
											</label>
											<input type="email" aria-required="true" size="30" value="" name="email" id="email" class="form-control" placeholder="Email">
										</div>
									</div>

								</div>

								<div class="row">

									<div class="col-sm-6">
										<div class="ds form-group has-placeholder">
											<label for="phone">Phone
												<span class="required">*</span>
											</label>
											<input type="text" aria-required="true" size="30" value="" name="phone" id="phone" class="form-control" placeholder="Phone">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="ds form-group has-placeholder">
											<label for="subject">Subject
												<span class="required">*</span>
											</label>
											<input type="text" aria-required="true" size="30" value="" name="subject" id="subject" class="form-control" placeholder="Subject">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="ds form-group has-placeholder">
											<label for="message">Message</label>
											<textarea aria-required="true" rows="6" cols="4" name="message" id="message" class="form-control" placeholder="Message"></textarea>
										</div>
									</div>
								</div>
								<div class="row">

									<div class="col-sm-12 text-center mt-10">

										<div class="form-group">
											<button type="submit" id="contact_form_submit" name="contact_submit" class="btn-color">
												Send Now
											</button>
										</div>
									</div>

								</div>

							</form>
						</div>
						<!--.col-* -->

						<div class="divider-30 d-none d-xl-block"></div>
					</div>
				</div>
			</section>

			<section class="ds section_gradient gradient-background py-50">
				<div class="container">
					<div class="row">
						<div class="col-md-4 text-center animate" data-animation="pullUp">
							<div class="info-block">
								<p>
									Call Us 24/7
								</p>
								<h3>
									+123-456-7890
								</h3>
							</div>
						</div>
						<div class="col-md-4 text-center animate" data-animation="pullUp">
							<div class="info-block">
								<p>
									Email Address
								</p>
								<h3>
									example@example.com
								</h3>
							</div>
						</div>
						<div class="col-md-4 text-center animate" data-animation="pullUp">
							<div class="info-block">
								<p>
									Open Hours
								</p>
								<h3>
									Daily 9:00-20:00
								</h3>
							</div>
						</div>
					</div>
				</div>
			</section>


			<footer class="page_footer ds s-py-sm-20 s-pt-md-75 s-pb-md-50 s-py-lg-130 c-gutter-60 pb-20 half-section">
				<div class="container">
					<div class="row">
						<div class="footer col-md-4 text-center animate" data-animation="fadeInUp">
							<div class="footer widget text-center">
								<h3 class="widget-title title-menu">Explore</h3>
								<ul class="footer-menu">
									<li>
										<a href="#">Job Search</a>
									</li>
									<li class="menu1">
										<a>Consultants</a>
									</li>
									<li>
										<a href="#">Reviews</a>
									</li>
									<li class="menu1">
										<a>Insights</a>
									</li>
									<li>
										<a href="#">Survey</a>
									</li>
									<li class="menu1">
										<a>Careers</a>
									</li>
									<li class="border-bottom-0">
										<a href="#">Contact</a>
									</li>
									<li class="menu1 border-bottom-0">
										<a>About</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="footer  col-md-4 text-center animate" data-animation="fadeInUp">
							<div class="text-center">
								<div class="header_logo_center footer-logo-ds">
									<a href="index.html" class="logo">
										<span class="logo_text">Invenir</span>
										<img src="images/logo.png" alt="">
										<span class="logo_subtext">Consult</span>
									</a>
								</div>
								<!-- eof .header_left_logo -->
							</div>
							<div class="widget pt-20">
								Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla.
							</div>
							<div class="widget">
								<div class="media">
									<i class="mx-10 color-main fa fa-map-marker"></i>
									4518 Spirit Drive, Deland, FL 32720
								</div>

								<div class="media">
									<i class="mx-10 color-main fa fa-phone"></i>
									101 123 456 789
								</div>

								<div class="media text-center link">
									<i class="mx-10 text-center color-main fa fa-envelope"></i>
									<a href="#">example@example.com</a>
								</div>
							</div>

							<div class="author-social">
								<a href="#" class="fa fa-facebook color-bg-icon rounded-icon"></a>
								<a href="#" class="fa fa-twitter color-bg-icon rounded-icon"></a>
								<a href="#" class="fa fa-google color-bg-icon rounded-icon"></a>
							</div>
						</div>
						<div class="footer col-md-4 text-center animate" data-animation="fadeInUp">
							<div class="widget widget_mailchimp">

								<h3 class="widget-title">Newsletter</h3>

								<p>
									Enter your email address here always to be updated. We promise not to spam!
								</p>

								<form class="signup">
									<label for="mailchimp_email">
										<span class="screen-reader-text">Subscribe:</span>
									</label>

									<input id="mailchimp_email" name="email" type="email" class="form-control mailchimp_email" placeholder="Email Address">

									<button type="submit" class="search-submit">Subscribe</button>

								</form>

							</div>
						</div>
					</div>
				</div>
			</footer>

			<section class="page_copyright ds s-py-30 ">
				<div class="container">
					<div class="row align-items-center">
						<div class="divider-20 d-none d-lg-block"></div>
						<div class="col-md-12 text-center">
							<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
						</div>
						<div class="divider-20 d-none d-lg-block"></div>
					</div>
				</div>
			</section>


		</div>
		<!-- eof #box_wrapper -->
	</div>
	<!-- eof #canvas -->


	<script src="../../../front office assets/js/compressed.js"></script>
	<script src="../../../front office assets/js/main.js"></script>
	<script src="../../../front office assets/js/switcher.js"></script>

	<!-- Google Map Script -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?"></script>

</body>



</html>